<div class="container">
  <nb-card>
    <nb-card-body>
      <nb-form-field class="field_item">
        <input
          #name="ngModel"
          nbInput
          fullWidth
          required
          placeholder="Branch Name"
          [(ngModel)]="branch.name"
        />
      </nb-form-field>

      <nb-form-field class="field_item">
        <input
          #serverDir="ngModel"
          nbInput
          fullWidth
          required
          placeholder="MOAM DIR of server"
          [(ngModel)]="branch.serverDir"
        />
      </nb-form-field>

      <path-field placeholder="MOAM DIR of PC" [(value)]="branch.pcDir"></path-field>
    </nb-card-body>
    <nb-card-footer>
      <button
        nbButton
        class="dialog_btn"
        [disabled]="name.invalid || serverDir.invalid"
        status="primary"
        (click)="toSave()"
      >
        Save
      </button>
      <button nbButton class="dialog_btn" *ngIf="isEdit" status="danger" (click)="toDelete()">
        Delete
      </button>
      <button nbButton class="dialog_btn" (click)="toClose()">Close</button>
    </nb-card-footer>
  </nb-card>
</div>
