<div class="container">
  <nb-form-field class="field_item">
    <input
      #fHost="ngModel"
      required
      nbInput
      fullWidth
      placeholder="Server host"
      [(ngModel)]="host"
    />
  </nb-form-field>
  <nb-alert
    *ngIf="fHost.invalid && (fHost.dirty || fHost.touched)"
    status="danger"
  >
    Host couldn't be empty.
  </nb-alert>
  <nb-form-field class="field_item">
    <input
      #fUsername="ngModel"
      required
      nbInput
      fullWidth
      placeholder="Username"
      [(ngModel)]="username"
    />
  </nb-form-field>
  <nb-alert
    *ngIf="fUsername.invalid && (fUsername.dirty || fUsername.touched)"
    status="danger"
  >
    Username couldn't be empty.
  </nb-alert>
  <nb-form-field class="field_item">
    <input
      #fPassword="ngModel"
      type="password"
      required
      nbInput
      fullWidth
      placeholder="Password"
      [(ngModel)]="password"
    />
  </nb-form-field>
  <nb-alert
    *ngIf="fPassword.invalid && (fPassword.dirty || fPassword.touched)"
    status="danger"
  >
    Password couldn't be empty.
  </nb-alert>

  <button
    class="button__save"
    [disabled]="fHost.invalid || fUsername.invalid || fPassword.invalid"
    nbButton
    status="primary"
    (click)="toSave()"
  >
    Save
  </button>
</div>
