<div class="container">
  <nb-form-field class="field_item">
    <input
      type="text"
      nbInput
      fullWidth
      placeholder="Server host"
      [(ngModel)]="host"
    />
  </nb-form-field>
  <nb-form-field class="field_item">
    <input
      type="text"
      nbInput
      fullWidth
      placeholder="Username"
      [(ngModel)]="username"
    />
  </nb-form-field>
  <nb-form-field class="field_item">
    <input
      type="password"
      nbInput
      fullWidth
      placeholder="Password"
      [(ngModel)]="password"
    />
  </nb-form-field>

  <button class="button__save" nbButton status="primary" (click)="toSave()">
    Save
  </button>
</div>
