<div class="container">
  <nz-select placeholder="Select Branch" [ngModel]="value" (ngModelChange)="setSelection($event)">
    <nz-option *ngFor="let branch of branches" nzCustomContent [nzLabel]="branch.name"  [nzValue]="branch">
      <div class="option_container">
        <span>{{ branch.name }}</span>
        <i nz-icon nzType="edit" nzTheme="outline" (click)="toEditBranch($event, branch)"></i>
      </div>
    </nz-option>
  </nz-select>
  <button class="add_btn" nz-button nzType="link" (click)="toAddBranch()">
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
  </button>
</div>
