<div class="container">
  <nz-select
    [ngModel]="value"
    (ngModelChange)="setSelection($event)"
    [disabled]="disabled"
    [nzDropdownRender]="addBranchOption"
  >
    <nz-option
      *ngFor="let branch of branches"
      nzCustomContent
      [nzLabel]="branch.name"
      [nzValue]="branch"
    >
      <div class="option_container">
        <span>{{ branch.name }}</span>
        <i nz-icon nzType="edit" nzTheme="outline" (click)="toEditBranch($event, branch)"></i>
      </div>
    </nz-option>
    <ng-template #addBranchOption>
      <nz-divider></nz-divider>
      <div class="add_branch_container">
        <a class="add_branch_btn" nz-button nzType="link" (click)="toAddBranch()">
          <i nz-icon nzType="plus"></i>
          Add branch
        </a>
      </div>
    </ng-template>
  </nz-select>
</div>
