{
  "extends": "../../.eslintrc",
  "env": { "node": true, "jest": true },
  "rules": {
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-var-requires": "off"
  },
  "ignorePatterns": ["!**/*"]
}
