<div class="container">
  <mat-form-field class="field_item">
    <mat-label>MOAM DIR of server </mat-label>
    <input matInput placeholder="MOAM DIR of server" [(ngModel)]="serverDir" />
  </mat-form-field>
  <mat-form-field class="field_item">
    <mat-label>MOAM DIR of PC</mat-label>
    <input
      #pcDirInput
      matInput
      placeholder="MOAM DIR of PC"
      [(ngModel)]="pcDir"
    />
    <mat-icon
      matSuffix
      style="cursor: pointer;"
      (click)="toSelectFolder($event)"
      >folder</mat-icon
    >
  </mat-form-field>
  <button
    class="sync_button"
    mat-raised-button
    color="primary"
    (click)="toSyncCode()"
  >
    Sync Code
  </button>

  <!-- <div class="progress_container">
    <div class="progress_item">
      <div class="progress_item_word">Get patch from PC.</div>
      <div class="progress_item_icon">
        <mat-spinner
          *ngIf="!isFinished; else elseBlock"
          diameter="14"
          color="accent"
        ></mat-spinner>
        <ng-template #elseBlock>
          <mat-icon color="accent">done</mat-icon>
        </ng-template>
      </div>
    </div>
  </div> -->
</div>
