<div class="container">
  <nb-form-field class="field_item">
    <input
      type="text"
      nbInput
      fullWidth
      placeholder="MOAM DIR of server"
      [(ngModel)]="serverDir"
    />
  </nb-form-field>

  <nb-form-field class="field_item">
    <input
      type="text"
      nbInput
      fullWidth
      placeholder="MOAM DIR of PC"
      [(ngModel)]="pcDir"
    />
    <nb-icon
      nbSuffix
      icon="folder-outline"
      style="cursor: pointer;"
      (click)="toSelectFolder($event)"
    ></nb-icon>
  </nb-form-field>

  <div class="foot">
    <button
      class="sync_button"
      nbButton
      status="primary"
      (click)="toSyncCode()"
    >
      Sync Code
    </button>
    <div class="progress_container" *ngIf="displayProgress">
      <div
        class="spinner"
        [nbSpinner]="true"
        nbSpinnerStatus="success"
        *ngIf="!isSyncDone; else elseBlock"
      ></div>
      <ng-template #elseBlock>
        <nb-icon icon="checkmark-outline" status="success"></nb-icon>
      </ng-template>
    </div>
  </div>
</div>
